.container {
	max-width: 768px;
	min-width: 320px;
	background-color: #777;
	padding: 0;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.col-1 {
	width: 100%;
	background-color: red;
	float: left;
}

.col-4 {
	width: 25%;
	background-color: red;
	float: left;
}

.cl {
	width: 100%;
	height: auto;
}

@media (max-width: 600px) {
	.col-4 {
		width: 20%;
	}
}

@media (max-width: 470px) {
	.col-4 {
		width: 25%;
	}
}
