body {
  width: 680px;
}
.block {
  background: red;
  margin:10px;
  float: left;
  width: 150px;
  height: 150px;
}

.big {
  background: red;
  margin:10px;
  float: right;
  width: 150px;
  height: 320px;
}
