<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>День в фото</title>
</head>
<body>
  <div class="container">
    <div class="item-full-width header">
      <h1>День в фото</h1>
    </div>

    <div class="item-full-width">
      <a href="#"><img src="img\001.jpg" alt="" class="item-full-width__fullsize-img"></a>
      <div class="date-top-label">
        <span class="date-top-label__day">21</span>
        <span class="date-top-label__month">сентября</span>
      </div>
      <div class="triangle"></div>
    </div>

    <div class="item-full-width details">
        <strong>Мельницы маленькой деревушки Brandmill близи курортного австрийского города Mayerhoffen.</strong>
        <br>
        <span>Фото: Reuters</span>
    </div>

    <div class="item">
      <a href="#"><img src="img\thumbnails\001.jpg" alt="" class="item__thumbnail"></a>
    </div>

    <div class="item">
      <a href="#"><img src="img\thumbnails\002.jpg" alt="" class="item__thumbnail"></a>
    </div>

    <div class="item">
      <a href="#"><img src="img\thumbnails\003.jpg" alt="" class="item__thumbnail"></a>
    </div>


    <div class="item ad-1 hidden-mobile">
      <a href="#"><img src="img\ads\ad_01.jpg" alt="" class="item__thumbnail"></a>
    </div>
    
    <div class="item">
      <a href="#"><img src="img\thumbnails\004.jpg" alt="" class="item__thumbnail"></a>
    </div>


    <div class="item">
      <a href="#"><img src="img\thumbnails\empty.jpg" alt="" class="item__thumbnail"></a>
      <div class="date-label">
	      <span class="date-label__day">20</span>
    	  <span class="month">сентября</span>
      </div>
    </div>


    <div class="item">
        <a href="#"><img src="img\thumbnails\005.jpg" alt="" class="item__thumbnail"></a>
    </div>

    <div class="item-full-width ad-3 hidden-medium  hidden-large">
      <a href="#"><img src="img\ads\ad_03.jpg" alt="" class="item__thumbnail"></a>
    </div>

    <div class="item item6">
      <a href="#"><img src="img\thumbnails\006.jpg" alt="" class="item__thumbnail"></a>
    </div>
    
    <div class="item">
      <a href="#"><img src="img\thumbnails\007.jpg" alt="" class="item__thumbnail"></a>
    </div>

    <div class="item">
      <a href="#"><img src="img\thumbnails\008.jpg" alt="" class="item__thumbnail"></a>
    </div>

    <div class="item">
      <a href="#"><img src="img\thumbnails\009.jpg" alt="" class="item__thumbnail"></a>
    </div>

    <div class="item">
      <a href="#"><img src="img\thumbnails\empty.jpg" alt="" class="item__thumbnail"></a>
      <div class="date-label">
	      <span class="date-label__day">19</span>
    	  <span class="month">сентября</span>
      </div>
    </div>

    <div class="item">
      <a href="#"><img src="img\thumbnails\010.jpg" alt="" class="item__thumbnail"></a>
    </div>

    <div class="item">
      <a href="#"><img src="img\thumbnails\011.jpg" alt="" class="item__thumbnail"></a>
    </div>

    <div class="item">
      <a href="#"><img src="img\thumbnails\012.jpg" alt="" class="item__thumbnail"></a>
    </div>

    <div class="item">
      <a href="#"><img src="img\thumbnails\013.jpg" alt="" class="item__thumbnail"></a>
    </div>

    <div class="item">
      <a href="#"><img src="img\thumbnails\empty.jpg" alt="" class="item__thumbnail"></a>
      <div class="date-label">
	      <span class="date-label__day">18</span>
    	  <span class="month">сентября</span>
      </div>
    </div>
    <div class="item ad-2 hidden-mobile hidden-medium">
      <a href="#"><img src="img\ads\ad_02.jpg" alt="" class="item__thumbnail"></a>
    </div>

    <div class="item">
      <a href="#"><img src="img\thumbnails\014.jpg" alt="" class="item__thumbnail"></a>
    </div>

    <div class="item">
      <a href="#"><img src="img\thumbnails\015.jpg" alt="" class="item__thumbnail"></a>
    </div>

    <div class="item item16">
      <a href="#"><img src="img\thumbnails\016.jpg" alt="" class="item__thumbnail"></a>
    </div>

    <div class="item hidden-mobile">
      <a href="#"><img src="img\thumbnails\017.jpg" alt="" class="item__thumbnail"></a>
    </div>

    <div class="item hidden-mobile">
      <a href="#"><img src="img\thumbnails\018.jpg" alt="" class="item__thumbnail"></a>
    </div>

    <div class="item hidden-mobile">
      <a href="#"><img src="img\thumbnails\empty.jpg" alt="" class="item__thumbnail"></a>
      <div class="date-label">
	      <span class="date-label__day">17</span>
    	  <span class="month">сентября</span>
      </div>
    </div>


    <div class="item hidden-mobile">
      <a href="#"><img src="img\thumbnails\019.jpg" alt="" class="item__thumbnail"></a>
    </div>

    <div class="item hidden-mobile">
      <a href="#"><img src="img\thumbnails\020.jpg" alt="" class="item__thumbnail"></a>
    </div>

    <div class="item hidden-mobile">
      <a href="#"><img src="img\thumbnails\021.jpg" alt="" class="item__thumbnail"></a>
    </div>

    <div class="item hidden-mobile">
      <a href="#"><img src="img\thumbnails\022.jpg" alt="" class="item__thumbnail"></a>
    </div>

    <div class="item hidden-mobile">
      <a href="#"><img src="img\thumbnails\empty.jpg" alt="" class="item__thumbnail"></a>
      <div class="date-label">
	      <span class="date-label__day">16</span>
    	  <span class="month">сентября</span>
      </div>
    </div>

    <div class="item-full-width">
    	<div class="paginator">
    		<ul>
	    		<li><a href="#" class="paginator__prev">Страницы:</a></li>
	    		<li><a href="#" class="paginator__active">1</a></li>
	    		<li><a href="#">2</a></li>
	    		<li><a href="#">3</a></li>
	    		<li><a href="#">4</a></li>
	    		<li><a href="#" class="paginator__next">Следующая</a></li>
    		</ul>
    	</div>
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


  <script src="js/adjustADs.js"></script>
</body>
</html>