@import 'https://fonts.googleapis.com/css?family=Playfair+Display&subset=cyrillic';
@import 'https://fonts.googleapis.com/css?family=Noto+Serif&subset=cyrillic';
@import 'https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=cyrillic';

.container {
    max-width: 768px;
    min-width: 320px;
    margin: auto;
    padding: 10px 2px;
    box-sizing: border-box;
}

.hidden-mobile {
    display: none;
}

.item-full-width, .item, .ad-1, .ad-2, .ad-3 {
    position: relative;
    float: left;
    line-height: 0;
    padding: 3px;
    height: auto;
    box-sizing: border-box;
}

.item-full-width {
    width: 100%;
}

.item {
    width: 25%;
}

.ad-1, .ad-2 {
    float: right;
}

.ad-3 {
    padding-top: 8px;
    padding-bottom: 7px;
}

.item__thumbnail {
    width: 100%;
    height: auto;
}

.item-full-width__fullsize-img {
    width: 100%;
    height: auto;
}

.date-top-label {
    position: absolute;
    line-height: 20px;
    left: 9px;
    top: 9px;
    width: 80px;
    height: 53px;
    background: rgba(255, 255, 255, .8);
    padding-right: 2px;
}

.item {
    position: relative;
}

.date-label {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
}

.date-label__day, .month, .date-top-label__day, .date-top-label__month  {
    font-family: 'Noto Serif', serif;
    display: block;
    text-align: center;
    line-height: 18px;
}

.date-label__day  {
    position: absolute;
    font-size: 18px;
    padding-top: 10px;
    left: 40%;
}

.month{
    font-size: 14px;
    padding-top: 30px;
}

.date-top-label__day {
    font-size: 18px;
    padding-top: 8px;
}

.date-top-label__month{
    font-size: 14px;
    padding-top: 2px;
}

.month:after {
    content: " ";
    position: absolute;
    background: url(../img/arrow.png) no-repeat;
    width: 3px;
    height: 5px;
    left: 81.5%;
    top: 40%;
}

.header h1 {
    font-family: 'Playfair Display', serif;
    color: #010101;
    text-transform: uppercase;
    font-size: 26px;
    margin: 0;
    position: relative;
    overflow: hidden;
    line-height: 40px;
}

.header h1:after {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 2px solid #000;   
    margin-top: 28px;
    margin-left: 18px;
}

.details {
    font-family: 'Noto Sans', sans-serif;   
    font-size: 13px;
    line-height: 18px;
    display: none;
}

.details span {
    color: #acacac;
}

.header {
    padding-bottom: 7px;
}
    /* =-=-=-=-=-=-= Pagination  =-=-=-=-=-=-= */
.paginator {
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
    position: relative;
    padding-top: 19px; /* !!! */
}

.paginator ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.paginator li {
    display: inline-block;
    margin-left: 0px;
    position: relative;
}

.paginator li a {
    text-decoration: none;
    border-radius: 50%;
    display: block;
    position: relative;
    margin: 0px -1px;  
    padding: 3px 13px;
    text-align: center;
    line-height: 25px;
}

.paginator li a:visited, .paginator li a {
    color: #000;
    text-decoration:none;
}

.paginator li a.paginator__active {
    background: #e6e6e6 none repeat scroll 0 0;
    border-color: #e6e6e6;
    font-weight: bold;
}

.paginator li a.paginator__prev {
    display: none;
    padding-left: 0px;
    margin-left: 0px;
    color: #848484;
}

.paginator li a.paginator__next {
    margin-left: 7px;  
}

.paginator li:nth-child(2) a{
    margin-left: 0px; 
}

@media (min-width: 450px) and (max-width: 599px) {
    .hidden-mobile, .hidden-large {
        display: block;
    }

    .hidden-medium {
        display: none;
    }

    .item-full-width, .item, .ad-1, .ad-2 {
        padding: 5px;
    }

    .item {
        width: 20%;
    }

    .ad-1 {
        width: 40%;
        padding-bottom: 7%;
        padding-left: 3.3%;
    }

    .header {
        padding-bottom: 23px;
    }

    .container {
        margin-top: 0px;
        padding: 34px 15px;
    }

    .date-top-label {
        left: 15px;
        top: 15px;
    }
    
    .header h1 {
        font-size: 40px;
    }

    .header h1:after {
        margin-top: 35px;
        margin-left: 17px;
    }    


    .month:after {
        width: 3px;
        height: 5px;
        left: 80.5%;
        top: 33%;
    }

    .paginator li a.paginator__prev {
        display: block;
    }
}

@media (min-width: 600px) {
    .container {
        padding: 20px 24px;
    }    

    .hidden-mobile, .hidden-medium {
        display: block;
    }

    .hidden-large {
        display: none;
    }    

    .hidden-mobile {
        display: block;
    }

    .item-full-width, .item, .ad-1, .ad-2 {
        padding: 10px;
    }

    .ad-1, .ad-2 {
        width: 25%;
        padding-bottom: 4.5%;
        padding-bottom: 22px;
    }

    .header {
        padding-bottom: 18px;
        padding-top: 17px;
    }

    .item {
        width: 25%;
    }

    .header h1 {
        font-size: 40px;
    }

    .header h1:after {
        margin-top: 36px;
        margin-left: 15px;
    }    

    .details {
        display: inline-block;
        padding-top: 3px;
        padding-bottom: 5px;
    }

    .date-top-label {
        line-height: 20px;
        left: 30px;
        top: 30px;
        width: 158px;
        height: 104px;
        padding-right: 2px;
    }
    
    .date-label__day, .date-top-label__day {
        font-size: 36px;
    }

    .month, .date-top-label__month {
        font-size: 18px;
    }

    .date-top-label__day {
        padding-top: 29px;
    }

    .date-top-label__month {
        padding-top: 12px;
    }

    .date-label__day  {
        padding-top: 41px;
        left: 38% 
    }

    .month{
        padding-top: 71px;
        left: 33% 
    }

    .month:after {
        width: 3px;
        height: 5px;
        left: 81.5%;
        top: 54.8%;
    }

    .date-top-label__month:after {
        content: " ";
        position: absolute;
        background: url(../img/arrow.png) no-repeat;
        width: 3px;
        height: 5px;
        left: 86%;
        top: 34%;
    }    

    .triangle  {
        position: absolute;
        background: url(../img/triangle.png) no-repeat;
        width: 20px;
        height: 10px;
        left: 48.5%;
        bottom: 10px;
    } 

    .paginator {
        padding-top: 9px;
    }
   
    .paginator li a {
        margin: 0px 4px; 
    }
   
    .paginator li a.paginator__prev {
        display: block;
        margin-left: 0px;
        margin-right: 7px;
    }

    .paginator li a.paginator__next {
        margin-left: 5px;
    }
}

